################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs/Estructuras_Lineales/v16
/Debug
