################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/Debug
/x64
/.vs/Estructuras_Lineales/v16

